<div class="login-wrap">
	<div class="login-page">
	  <div class="form">
	    <form class="register-form" [formGroup]="registerForm" (submit)="onSubmit()">
	      <div class="form-group">
	      	<input type="text" class="form-control" placeholder="name" formControlName="name" required [ngClass]="{'is-invalid': submitted && f.name.errors}"  />
		  <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-left">
			  <div *ngIf="f.name.errors.required">Email is required</div>
			   
		  </div>
	      </div>
		  
		  <div class="form-group">
		  	<input type="text" placeholder="email address" formControlName="email" class="form-control" required [ngClass]="{'is-invalid': submitted && f.email.errors}"  />
  			  <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
  				  <div *ngIf="f.email.errors.required">Email is required</div>
  				  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  			  </div>
		  </div>
		  
		  <div class="form-group">
		  	<input type="password" placeholder="password" formControlName="password" class="form-control" required [ngClass]="{'is-invalid': submitted && f.password.errors}"  />
  			  <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
  			  </div>
		  </div>
		  
		  
	      
	      <button type="submit">Register Now</button>
	      <p class="message">Already registered? <a [routerLink]="['/login']">Sign In</a></p>
	    </form>
	     
	  </div>
	</div>
</div>