<div class="login-wrap">
	<div class="login-page">
	   <div class="form"> 
	    <form class="login-form mb-0" [formGroup]="loginform" (submit)="onSubmit()">
	      <div class="form-group">
			  <input type="text" class="form-control" formControlName="email" placeholder="Email" required [ngClass]="{'is-invalid': submitted && f.email.errors}" />
			  <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
				  <div *ngIf="f.email.errors.required">Email is required</div>
				  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
			  </div>
		  </div>
		  <div class="form-group">
	      	<input type="password"  class="form-control" placeholder="password" formControlName = "password" required  [ngClass]="{'is-invalid': f.password.errors && submitted}"/>
			<div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left">
			                        <div *ngIf="f.password.errors.required">Password is required</div>
			                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
			                    </div>
	  		</div>
	      <button type="submit">login</button>
	      <p class="message">Not registered? <a [routerLink]="['/register']">Create an account</a></p>
	    </form>
	  </div>
	</div>
</div>